@font-face {
  font-family: 'Lato-Requler';
  src: url('../font/Lato-Reguler.ttf');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('../font/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../font/Lato-Bold.ttf');
}

@font-face{
  font-family: 'BebasNeue-Reguler';
  src: url('../font/BebasNeue Regular.ttf');
}

@font-face{
  font-family: 'CaviarDreams-Reguler';
  src: url('../font/CaviarDreams.ttf');
}

body{
  font-size: 15px;
  font-family: 'CaviarDreams-Reguler';
  background-color: lightblue;
}

section{
  text-align: center;
}

#header,#footer{
  background-color: #0a1a2e;
}

.header-text{
  font-family: 'BebasNeue-Reguler';
  display: inline-block;
  color: white;
  font-size: 32px;
  padding-top: 20px;
}

.ifest-logo{
  display: inline-block;
  width: 50px;
}

#menu{
  z-index: 1;
  top:0px;
  width:100%;
  background-color: #2980b9;
  padding-top: 30px;
  transition:
}

.i2c-logo{
  width: 50px;
}

.navigation{
  float: right;
}

.nav{
  display:inline-block;
}

.text-link{
  color: white;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-link{
  text-decoration: none;
  border: 1px solid white;
  display: block;
}

#theme{
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url('../main-background.png');
  background-size: cover;
}

.theme-logo{
  width: 280px;
}

.theme-title{
  color: white;
}

#about{
  background-color: #C5EFF7;
  padding-top: 20px;
}

.section-title{
  color: white;
}

.content-title{
  text-align: center;
}

.content-text{
  text-indent: 50px;
  text-align: justify;
}

.circle{
  border-radius: 50%;
  font-weight:lighter;
  border: 5px solid
}

.big{
  width: 292px;
  height:292px;
}

.small{
  margin: auto;
  width: 220px;
  height:220px;
}

.category-img{
  margin-top: 35px;
  width: 130px;
}

.gold{
  color: gold;
  border: 5px solid gold;
}

.silver{
  color: silver;
  border: 5px solid silver;
}

.bronze{
  color: #E87E04;
  border: 5px solid #E87E04;
}

.trophy{
  margin-top: 30px;
  width: 150px;
}

#winner{
  background-color: #22313F;
}

#category{
  background-color: #446CB3;
}

#category p{
  padding-top: 30px;
  color: white;
}

.category-btn{
  background-color: #F9BF3B;
  border: 3px solid #EB9532;
}

.pop-up{
    display:none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.pop-up > .content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
}

#winner-profile{
  background-color: #4183D7;
}

#winner-profile .flexslider{
  background: transparent;
  border: 0px;
  padding-left: 50px;
}

#winner-profile img{
  width: 500px;
  margin: 0px;
}

.flex-direction-nav a  {
  line-height: 40px;
}

.slider-content{
  margin-bottom: 170px;
  margin-left: 525px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  color: #000;
}

.registration-btn{
  text-transform: none;
  font-size: 50px;
  background-color: #F9BF3B;
  border: 3px solid #EB9532;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: content-box;
}

#category,#winner,#winner-profile,#about,#registration{
  padding-top: 25px;
  padding-bottom: 20px;
}

ol>li{
  text-align: left;
}

.form-row>label{
  text-align: left;
}

.form-box{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.form-row>input{
  width:100%;
  margin-right: 150px;
}
